
  
  /*Global Styles*/
html{
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
}
  
body {
    background-color: white;
    color:black;
    text-align: center;
}

.header {
    color: aliceblue;
    background-image: url(./images/coffeBeans.avif);
    opacity: 0.9;
    border-bottom: 2px solid gray;
    width: 100%;
    display: flex;
    justify-content: space-around
}

.cafe-logo {
    width: 25%;
}

.nav-bar {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 15px;
}

.nav-bar a {
    color: white;
    font-size: 1.9rem;
    padding: 1rem;
    width: 1fr;
    text-decoration: none;
}

.mission-banner h2 {
    background-image: url(./images/New\ Cafe\ Background.avif);
    opacity: 0.5;
    width: 50%;
    padding-top: 15%;
    padding-bottom: 15%;
    color: white;
    font-size: 2rem;
}

.mission-banner p {
    height: 40%;
    width: 50%;
    padding: 0 10%;
    font-size: 1.2rem;
    color: black;
}

.mission-banner {
    padding-top: 10%;
    background-size: 80%;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.loc-banner h2 {
    font-size: 2rem;
    margin-top: 5%
}

.locations {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.locimg {
    width: 200px;
    height: 200px;
}

.Chicago,
.Denver,
.Missouri {
    width: 20%;
    height: 25%;
}

footer h3 {
    padding-top: 0.8%;
    min-width: 30%;
    max-width: 40%;
    margin: 0 auto;
}

